:root {
    --color-primary: #888888;
    --color-secondary: #707070;
    --color-ternary: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-primary);
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 7em;
}

.button {
    display: block;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    color: var(--color-primary);
    background-color: var(--color-ternary);
    width: 100%;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    transition: all 200ms;
}

.button:hover {
    color: var(--color-ternary);
    background-color: var(--color-primary);
}

.mensage-success {
    display: block;
    color: #308330;
    font-weight: bold;
    font-style: italic;
    margin-top: 2em;
    letter-spacing: 1px;
    transition: all 200ms;
    text-align: center;
}
/***********
    HEADER
***********/
.header {
    background-color: var(--color-secondary);
    color: var(--color-ternary);
    text-align: center;
    padding: 4em 0 150px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 79% 91%, 44% 77%, 0 60%, 0 0);
}

.header h2 {
    font-weight: 500;
    font-size: 1.25em;
}

.header .title-main {
    margin: 5px 0;
    font-size: 2.5em;
}

.header h4 {
    margin: 1.5em 0 3em;
    font-weight: 500;
    font-size: 0.875em;
}

.header ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.header ul.menu li {
    width: 150px;
    height: 40px;
    background-color: var(--color-ternary);
    border-radius: 5px;
    border: 3px solid var(--color-secondary);
    transition: 200ms ease-in;
}

.header ul.menu li:hover {
    background-color: var(--color-primary);
}

.header ul.menu li:hover a {
    color: var(--color-ternary);
}

.header ul.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-primary);
    font-size: 0.875em;
    width: 100%;
    height: 100%;
}

.header-box {
    width: 900px;
    margin: 0 auto;
}
/************************
    HELP THE ALGORITHM
************************/
.help-the-algorithm .container {
    display: flex;
    justify-content: space-between;
}

.help-the-algorithm .text-content {
    width: 55%;
}

.help-the-algorithm .text-content .title {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 1em;
}

.help-the-algorithm .text-content p {
    font-size: 0.75em;
    margin-bottom: 2em;
    line-height: 20px;
}

.help-the-algorithm .form {
    width: 40%;
    font-size: 0.75em;
    color: var(--color-primary);
}

.help-the-algorithm .form .span-mensage {
    display: block;
    margin: 1em 0;
    color: #FF0000;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
}

.help-the-algorithm .form .field {
    display: block;
    width: 100%;
    margin: 5px 0 1em;
    padding: 5px 10px;
}

.help-the-algorithm .form .field:focus {
    outline-style: solid;
    color: var(--color-secondary);
}

.help-the-algorithm .form .field.error {
    border: 1px solid red;
    outline: none;
}

.help-the-algorithm .form .genre {
    border: none;
    margin: 2em 0;
}

.help-the-algorithm .form .genre input.error {
    border: 1px solid red;
}

.help-the-algorithm .form .genre label {
    margin-right: 2em;
}
/************************
    YOUR PRODUCTS
************************/
.your-products {
    padding: 4em 0 150px;
}
.your-products .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    font-size: 1.125em;
}

.your-products .title::before,
.your-products .title::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 38%;
    background-color: var(--color-secondary);
}

.your-products .box-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.your-products .product {
    width: 200px;
    font-size: 0.75em;
    margin-right: 1em;
    margin-bottom: 4em;
}

.your-products .product div.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
}

.your-products .product .title-product {
    margin: 1em 0;
    font-size: 0.875em;
}

.your-products .product .description,
.your-products .product .old-price,
.your-products .product .new-price,
.your-products .product .new-price span {
    display: block;
    margin-bottom: 1em;
}

.your-products .product .new-price {
    font-weight: bold;
    font-size: 1em;
}

.your-products .product .new-price span {
    font-weight: 500;
    margin: 1em 0;
}
.your-products .product button {
    padding: 5px 10px;
}

.your-products .button.more-products {
    width: 260px;
    height: 39px;
    margin: 0 auto;
}

.your-products .button.more-products.hidden-button {
    display: none;
}
/****************
    SHARE
****************/
.share {
    padding: 0 0 150px;
}

.share .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.share .title::before,
.share .title::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 38%;
    background-color: var(--color-secondary);
}

.share .sub-title {
    text-align: center;
    font-size: 0.875em;
    font-weight: 500;
    margin-bottom: 3em;
}

.share .form-friend div {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto 3em;
    font-size: 0.75em;
}

.share .form-friend fieldset {
    border: none;
    width: 340px;
}

.share .form-friend .friend-name,
.share .form-friend .friend-email {
    display: block;
    margin-top: 5px;
}

.share .form-friend input {
    width: 100%;
    margin: 5px 0 1em;
    padding: 5px 10px;
}

.share .form-friend input.error {
   border: 1px solid #FF0000;
   outline: none;
}

.share .form-friend .span-mensage {
    display: block;
    margin: 1em 0;
    color: #FF0000;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
}

.share .form-friend .button {
    width: 260px;
    height: 39px;
    margin: 0 auto;
}
/****************
    FOOTER
****************/
.footer {
    color: var(--color-ternary);
    font-size: 0.75em;
    background-color: var(--color-secondary);
    padding: 100px 0 100px;
    clip-path: polygon(30% 16%, 82% 5%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 24%);
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .header-box {
        width: auto;
    }
}

@media screen and (max-width: 950px) {
    .container {
        padding: 0 2em;
    }

    .header ul.menu {
        flex-wrap: wrap;
    }

    .header-box {
        width: auto;
    }

    .help-the-algorithm .container {
        flex-direction: column;
        align-items: center;
    }

    .help-the-algorithm .text-content {
        width: auto;
    }

    .help-the-algorithm .text-content .title {
        text-align: center;
    }

    .help-the-algorithm .form {
        width: 80%;
    }

    .your-products .title::before,
    .your-products .title::after {
        width: calc(38% - 5vw);
    }

    .share .title::before,
    .share .title::after {
        width: calc(35% - 5vw);
    }
}

@media screen and (max-width: 800px) {
    .share .form-friend div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
}

@media screen and (max-width: 650px) {
    .header ul.menu li {
        margin-bottom: 1.5em;
    }

    .help-the-algorithm .form {
        width: 100%;
    }

    .share .form-friend fieldset {
        width: 100%;
    }

    .your-products .title::before,
    .your-products .title::after {
        width: calc(30% - 5vw);
    }

    .share .title::before,
    .share .title::after {
        width: calc(25% - 5vw);
    }

    
}

@media screen and (max-width: 490px) {
    .header {
        text-align: left;
        padding: 4em 0 200px;
    }

    .header .title-main {
        font-size: 2.2em;
    }

    .your-products .product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .your-products .product .image {
        display: inline-block;
        width: 169px;
        height: 129px;
        margin-right: 1em;
    }

    .your-products .product div.product-information {
        display: inline-block;
        width: 200px;
        height: 129px;
        vertical-align: top;
    }

    .your-products .product div.product-information .title-product {
        margin: 0 0 1em;
    }

    .your-products .product .description {
        display: none;
    }

    .your-products .product button {
        width: 169px;
    }
}

@media screen and (max-width: 430px) {
    .container {
        padding: 0 1em;
    }

    .your-products .title::before,
    .your-products .title::after {
        width: calc(25% - 5vw);
    }

    .share .title::before,
    .share .title::after {
        width: calc(20% - 5vw);
    }
}