:root {
    --color-primary: #888888;
    --color-secodary: #707070;
    --color-ternary: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-primary);
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 940px;
}
/***********
    HEADER
***********/
.header {
    background-color: var(--color-secodary);
    color: var(--color-ternary);
    text-align: center;
    padding: 3em 0 150px;
    /*
        Para cada separação de vírgula temos um polígono. Configuramos seus pontos com os eixos x, y.
    */
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 79% 91%, 44% 77%, 0 60%, 0 0);
}

.header h2 {
    font-weight: 500;
    font-size: 20px;
}

.header .title-main {
    margin: 5px 0;
    font-size: 40px;
}

.header h4 {
    margin: 1.5em 0 3em;
    font-weight: 500;
    font-size: 14px;
}

.header ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.header ul.menu li {
    width: 150px;
    height: 40px;
    background-color: var(--color-ternary);
    border-radius: 5px;
    border: 3px solid var(--color-secodary);
    transition: 200ms ease-in;
}

.header ul.menu li:hover {
    background-color: var(--color-primary);
}

.header ul.menu li:hover a {
    color: var(--color-ternary);
}

.header ul.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-primary);
    font-size: 14px;
    width: 100%;
    height: 100%;
}

.header-box {
    width: 900px;
    margin: 0 auto;
}
/************************
    HELP THE ALGORITHM
************************/
.help-the-algorithm {
}

.help-the-algorithm .container {
    display: flex;
    justify-content: space-between;
}

.help-the-algorithm .text-content {
    width: 55%;
}

.help-the-algorithm .text-content .title {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 1em;
}

.help-the-algorithm .text-content p {
    font-size: 0.75em;
    margin-bottom: 2em;
    line-height: 20px;
}

.help-the-algorithm .form {
    width: 40%;
    font-size: 0.75em;
    color: var(--color-primary);
}

.help-the-algorithm .form .field,
.help-the-algorithm .form .submit {
    display: block;
    width: 100%;
    margin: 5px 0 1em;
    padding: 5px 10px;
}

.help-the-algorithm .form .submit {
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    color: var(--color-primary);
    background-color: var(--color-ternary);
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    transition: all 200ms;
}

.help-the-algorithm .form .submit:hover {
    color: var(--color-ternary);
    background-color: var(--color-primary);
}

.help-the-algorithm .form .genre {
    border: none;
    margin: 2em 0;
}

.help-the-algorithm .form .genre label {
    margin-right: 2em;
}

